{% include head-custom-theme-colors.html %}
<link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/imgs/favicon.ico' | relative_url }}">
<meta name="apple-mobile-web-app-title" content="{{ site.title | default: site.github.repository_name }}">
<link rel="apple-touch-icon" size="57x57" href="/assets/imgs/apple-touch-icon-57x.png">
<link rel="apple-touch-icon" size="72x72" href="/assets/imgs/apple-touch-icon-72x.png">
<link rel="apple-touch-icon" size="114x114" href="/assets/imgs/apple-touch-icon-114x.png">
<link rel="apple-touch-icon" size="144x144" href="/assets/imgs/apple-touch-icon-144x.png">
<link rel="apple-touch-icon" size="180x180" href="/assets/imgs/apple-touch-icon-180x.png">