<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" title="Back to Home Page" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <a href="https://github.com/livcm/livcm.github.io/stargazers" title="GitHub Stars"><img src="https://img.shields.io/github/stars/livcm/livcm.github.io.svg?style=for-the-badge&color=yellow" alt="GitHub stars" /></a>
        <a href="https://github.com/livcm/livcm.github.io/commits/main" title="Last commit"><img src="https://img.shields.io/github/last-commit/livcm/livcm.github.io.svg?style=for-the-badge" alt="Last commit" /></a>
        <a href="https://github.com/livcm/livcm.github.io/commits/main" title="Commit activity"><img src="https://img.shields.io/github/commit-activity/w/livcm/livcm.github.io.svg?label=commit%20freq&style=for-the-badge" alt="Commit activity" /></a>
        <a title="Creative Commons License" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" src="https://img.shields.io/badge/BY--NC--ND-4.0-orange.svg?style=for-the-badge&logo=creativecommons" /></a>
        <a href="https://github.com/livcm/livcm.github.io/blob/main/LICENSE" title="Anti 996 License"><img src="https://img.shields.io/badge/license-Anti%20996-red.svg?style=for-the-badge" alt="Anti 996 License" /></a>
        <a href="https://996.icu" title="996.icu"><img src="https://img.shields.io/badge/link-996.icu-red.svg?style=for-the-badge" alt="996.icu" /></a>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" title="Download as .zip" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" title="Download as .tar.gz" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" title="View on GitHub" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
    <footer>
      <hr>
      <div class="container">
        <p>Powered by GitHub Pages.</p>
        <p>This page is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/" title="Creative Commons License">Creative Commons Attribution-NonCommercial-NoDerivatives (CC BY-NC-ND) 4.0 International License</a>.</p>
        <p>Copyright &copy; 2022-2023 livcm. All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>
