---
layout: default
---

<style type="text/css">
  h1{margin:0}
</style>
<h1>{{ page.title }}</h1>
<small>
  {{ page.date | date: "%B %-d, %Y at %H:%M:%S" }}, By {{ page.author | default: site.author }}
</small>

{{content}}

<hr />

<a href="http://creativecommons.org/licenses/by-sa/4.0/" alt="License">
  <img src="https://img.shields.io/badge/CC--BY--SA-4.0-EF9421.svg?style=plastic&logo=creativecommons">
</a>
<br />
<small>
{% if page.categories %}
  Category: <em>{{ page.categories }}</em>
{% endif %}
<br />
{% if page.tags %}
  Tags: <em>{{ page.tags | join: "</em> / <em>" }}</em>
{% endif %}
</small>